<ul class="nav">
  <li class="nav-item">
    <a routerLink="/pw-generator" class="nav-link active">Pass Word Generator</a>
  </li>
  <li class="nav-item">
    <a routerLink="/typing" class="nav-link">Typing Game</a>
  </li>
  <li class="nav-item">
    <a routerLink="/pages" class="nav-link">Pages</a>
  </li>
  <li class="nav-item">
    <a routerLink="/elements" class="nav-link">Home</a>
  </li>
  <li class="nav-item">
    <a routerLink="/collection" class="nav-link">Collections</a>
  </li>
</ul>

<router-outlet></router-outlet>